
@{
    ViewBag.Title = "Refrences";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Refrences</h2>

<iframe src="https://drive.google.com/open?id=0B9GYJU_2UmFFRFFudHRjV3g5aVE&authuser=0" width="800" height="600" frameborder="0"></iframe>

<a class="button" href="@Url.Action("Resume","Home")">Resumé</a>