
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>About me.</h2>


<p>A passion for design and creation coupled with an education in computer programming synthesizes me into who I am today, a developer that blends both science and art into code.</p>
<p>I've led a rocket club where the focus was to make it to a national rocket competition, the goal of the competition was to launch a rocket carrying two eggs without breaking them during takeoff or landing while getting as close to a 60 second flight time as possible. We used software to model flight trajectories and calculate potential updates to the design, we created custom launching mechanisms and spent lots of time building and testing the rocket in the real world.
</p>
<p>I enjoyed brewing beer at my home. I spent allot of time self-educating myself on the chemical processes of malting, fermentation, and everything else involved in making beer. I made a double IPA using an English Ale Yeast that leaves a drier finishing taste, balancing complex sugars of a Honey Malt all underlying bold citrus flavors from over 5 different types of aromatic hops</p>
<p>I spent over a year updating a sticker design that incorporates the Denver city scape, Colorado mountains, and the Colorado flag all into a compact simplistic design that is being at a local shop today.</p>
<p>I'm always pushing myself to find exciting things and improving upon what I already do. I'm passionate about design, functionality, and the amazing tool called code that allows me to express this passion.</p>
<p>
    <a href="http://www.linkedin.com/in/crwgregory" target="_blank">
        <img src="http://i.imgur.com/qnV2ZYI.jpg">
    </a>
</p>