
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<header></header>

<div id='idiv'>
    <iframe id="iframe_main" src="https://drive.google.com/open?id=0B9GYJU_2UmFFdUljMmx6d1p4aEk&authuser=0" width="300" height="300" frameborder="0"></iframe>
    @*</div>
<div id="iref">*@
    <iframe id="iframe_ref" src="https://drive.google.com/open?id=0B9GYJU_2UmFFTjgtNFdlalU5bEE&authuser=0" width="300" height="300" frameborder="0"></iframe>
</div>
@*<a class="button" id="refrences" href="@Url.Action("Refrences","Resume")">Refrences</a>*@